@charset "utf-8";
/* CSS Document */

:root {
	--dark-bg-color: #252627;
	--light-bg-color: #D1D1D1;
	--accent-1-light: #3A7CB4;
	--accent-1-dark: #174D7E;
	--accent-2-light: #FFAD05;
}

body { 
	background-color: var(--dark-bg-color);
	color: #FFFFFF;
	font-family: "Tahoma"
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background-color: var(--accent-1-dark);
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover, .navbar a:active {
  background-color: var(--accent-1-light);
}

/*Style footer*/
.footer{

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: var(--light-bg-color);
	color: white;
	font-family: "Tahoma";
}