@charset "utf-8";
/* CSS Document for features.html*/

.features-intro {
    text-align: center;
    padding-left: 17em;
    padding-right: 17em;
}

.page-title {
    margin-top: var(--navbar-height);
}

.in-between-text {
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: var(--navbar-height);
    padding-bottom: 15em;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

.table-title {
    background-color: var(--accent-1-dark);
    font-size: 1.75em;
    height: 3em;
    width: 100%;
    
}

td {
    vertical-align: middle;
}

.img-feature {
    width: 49vw;
}
.convenient-text, .reliable-text{
    font-size: 1.25em;
    text-align: center;
}