@charset "utf-8";
/* CSS Document for features.html*/

.features-intro{
    text-align: center;
    padding-left: 17em;
    padding-right: 17em;
}

.page-title{
    margin-top: var(--navbar-height);
}

.in-between-text{
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: var(--navbar-height);
    padding-bottom: 15em;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

.table-title {
    background-color: var(--accent-1-dark);
    font-size: 1.75em;
    height: 3em;
    width: 100%;
    
}

td{
    vertical-align: middle;
}

.img-feature {
    width: 50vw;
}
.convenient-text{
    font-size: 1.25em;
    text-align: center;
}
/* .column{
    padding-left: 2em;
    padding-right: 2em;
    float:left;
    width:calc(25% - 5em);
    text-align:center;
}*/ 

/*
.feat1 {
    font-size: 1.5rem;
	text-align: center;
    padding: .5em 0 .2em 0;
	z-index: 50;
}

.title1, .title2 {
    font-size: 2rem;
    background-color: var(--accent-1-dark);
}
.pic1{
    position: absolute;
	width: 50%;
	height: 20rem;
	left: 0;
    overflow: hidden;
}

.desc1 {
    position: absolute;
	width: 40%;
	height: 20rem;
    right: 0;
    text-align: center;
    padding-right: 5em;
    padding-top: 5em;
    
}

.desc-text1 {
    font-size: 1.5rem;
}

.rationale1 {
	padding: 26rem 2rem 0 2rem;
	font-size: 1.2rem;
}



.feat2 {
    font-size: 1.5rem;
    text-align: center;
    padding: .5em 0 .2em 0;
	z-index: 50;
}
.pic2{
    position: absolute;
	width: 50%;
	height: 20rem;
	right: 0;
    overflow: hidden;
}

.desc2 {
    position: absolute;
	width: 40%;
	height: 25rem;
    left: 0;
    text-align: center;
    padding-right: 5em;
    padding-top: 5em;
    
}

.desc-text2 {
    font-size: 1.5rem;
} */