@charset "utf-8";
/* CSS Document */


.form-parent {
	display: flex;
}

form {
	text-align: center;
	margin: calc(var(--navbar-height) + 1rem) auto auto auto;
	height: calc(100vh - var(--navbar-height));
}

a {
color: #FFFFFF;
	font-family: "Tahoma";
	padding-top: 0.75em;
	padding-bottom: 0.25em;
}

a:hover { 
	font-weight: bold;
	color: #3A7CB4;
	-moz-transition: all 0.2s ease-in;
  	-o-transition: all 0.2s ease-in;
  	-webkit-transition: all 0.2s ease-in;
  	transition: all 0.2s ease-in;
}

input {
	background-color: var(--footer-color);
	color: #FFFFFF;
	border: 3px solid var(--accent-1-dark);
	border-radius: 25px;
	font-size: 1.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	text-align: center;
	margin: 0.3rem 0 1rem 0;
}

label {
	
}
