@charset "utf-8";
/* CSS Document for both signup.html and login.html*/

.form-parent {
	display: flex;
}

form {
	text-align: center;
	margin: calc(var(--navbar-height) + 1rem) auto auto auto;
	height: calc(100vh - var(--navbar-height));
}

a {
color: #FFFFFF;
	font-family: "Tahoma";
	padding-top: 0.75em;
	padding-bottom: 0.25em;
}

a:hover { 
	font-weight: bold;
	color: #3A7CB4;
	-moz-transition: all var(--button-fade-time) ease-in;
  	-o-transition: all var(--button-fade-time) ease-in;
  	-webkit-transition: all var(--button-fade-time) ease-in;
  	transition: all var(--button-fade-time) ease-in;
}

input, button {
	background-color: var(--footer-color);
	color: #FFFFFF;
	border: 3px solid var(--accent-1-dark);
	border-radius: 10px;
	font-size: 1.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	text-align: center;
	margin: 0.3rem 0 1rem 0;
	transition-duration: var(--button-fade-time);
}

button {
	cursor: pointer;
	margin-top: 1rem;
}

button:hover {
	background-color: var(--accent-1-dark);
	color: var(--light-bg-color);
	border-color: var(--footer-color);
	transition-duration: var(--button-fade-time);
}

label {
	
}
