@charset "utf-8";
/* CSS Document for index.html*/

.header {
	margin-top: 4rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/warehouse.jpg);
	height: calc(100vh - 4rem);
	text-align: center;
	padding: 0;
    display: table;
	width: 100%;
}

.header-text {
	display: table-cell;
	vertical-align: middle;
}

.header-text h1 {
	margin: 0;
	padding: 0;
	font-size: 8em;
	font-family: var(--logo-font);
}

.header-text h3 {
	margin: 0;
	padding: 0;
}

.header-text button {
	background-color: transparent;
	border: thin solid white;
	color: white;
	outline: none;
	font-family: "Tahoma";
	font-stretch: expanded;
	text-transform: uppercase;
}

.header-text p {
	margin: 0;
	padding: 0;
}

#login {
	;
}

.header-logo {
	letter-spacing: 0em;
	padding-bottom: 0em;
}

.tagline{
	letter-spacing: 0.1em;
	padding-top: 0em;
}

.column{
	float:left;
	width: 35%;
	padding-left: 5em;
	padding-right: 5em;
	text-align: center;

}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }

.signup {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .signup span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .signup span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .signup:hover span {
	padding-right: 25px;
  }
  
  .signup:hover span:after {
	opacity: 1;
	right: 0;
  }