@charset "utf-8";
/* CSS Document for legal.html*/

#content {
    margin-left: 1em;
    margin-right: 1em;
}

#terms {
    margin-top: calc(var(--navbar-height) + 1rem);
}

#privacy {
	padding: calc(var(--navbar-height) + 1rem) 0 0 0;
}
