@charset "utf-8";
/* CSS Document for pricing.html*/
:root {
	--dark-bg-color: #252627;
	--light-bg-color: #D1D1D1;
	--accent-1-light: #3A7CB4;
	--accent-1-dark: #174D7E;
	--accent-2-light: #FFAD05;
	--active-link-color: #2C5D89;
	--logo-font: 'Righteous', cursive;
	--button-fade-time: 0.3s;
}

.page-title{
    margin-top: var(--navbar-height);
}

.in-between-text{
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
    line-height: 1;
}
table {
    border-collapse: collapse;
    width: 50%;
    background-color: white;
}
table, th, td {
    border: 1px solid var(--dark-bg-color);
}

th {
    background-color: var(--accent-1-dark);
}

td {
    color: var(--dark-bg-color);
    text-align: center;
    height: 50px;

}

th {
    height: 50px
}

.fine-print{
    padding-top: 1.5em;
    width: 100%;
    text-align: center;
}