@charset "utf-8";
/* CSS Document for team.html*/

.page-title{
    margin-top: var(--navbar-height);
}

.team-text{
    text-align: center;
}


.team-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 250px;
	height: 250px;
  }
