@charset "utf-8";
/* CSS Document for team.html*/

.page-title{
    margin-top: var(--navbar-height);
}

.team-align{
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
