@charset "utf-8";
/* CSS Document for team.html*/

.page-title{
    margin-top: calc(var(--navbar-height) + 1em);
}

.team-text {
    text-align: center;
	font-size: 2.2rem;
}

h2.team-text {
	padding: 0 0 0 0;
	margin: 1rem 0 0 0;
}


.team-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 250px;
	height: 250px;
	margin-top: 1em;
  }

.team-link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.2rem;
}
